APP_NAME=
APP_KEY=
APP_ENV=dev
APP_PORT=8080
APP_URL="http://localhost:${APP_PORT}"
VITE_APP_URL="${APP_URL}"

DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=
DB_SSLMODE=disable

SESSION_LIFETIME=120

MAIL_DRIVER=smtp|api
MAIL_HOST=http://localhost
MAIL_PORT=1025
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl

SCHEDULER_INTERVAL=