<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
    <link href="/build/assets/app.css" rel="stylesheet">
    <title>Acme</title>
</head>
<body class="font-sans antialiased">
    <div class="h-screen w-screen flex items-center justify-center">
        <section class="bg-white dark:bg-gray-900">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center">
                    <h1 class="mb-4 font-extrabold text-9xl text-red-600">{{ .status }}</h1>
                    <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl">{{ .title }}</p>
                    <p class="mb-4 text-lg font-light text-gray-500">{{ .message }} </p>
                </div>
            </div>
        </section>
    </div>
</body>
</html>